* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  display: flex;
  font-family: menlo;
  justify-content: center;
}

/* Canvas */
.canvas {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
  width: 100%;
  max-width: 775px;
  margin: 0 auto;
}

.canvas__heading {
  font-size: 40px;
  margin: 20px 0;
}

.canvas__body {
  font-size: 20px;
  margin: 20px 0;
  line-height: 1.5;
}

.canvas__input {
  border: solid 1px #ccc;
  background: #fff;
  color: #ccc;
  padding: 10px 15px;
  font-size: 20px;
  line-height: 1.5;
  margin: 10px 0;
  width: 100%;
}

/* Button List */
.button-list {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
}

.button-list__item {
  display: block;
  margin: 0 20px;
}

/* Button */
.button,
.button:active,
.button:hover,
.button:visited {
  background: #000;
  border: solid 2px #000;
  color: #fff;
  display: block;
  min-width: 225px;
  padding: 15px 30px;
  transition: .3s;
  text-decoration: none;
  width: 100%;
}

.button:hover {
  background: #fff;
  color: #000;
}
